tp1/app/data/mondialAuto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mondial" type="mondialType"/>
  <xs:complexType name="populationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="measured" use="optional"/>
        <xs:attribute type="xs:string" name="year" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="indep_dateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="from" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="encompassedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="continent" use="optional"/>
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ethnicgroupType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="religionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="languageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="borderType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="country" use="optional"/>
        <xs:attribute type="xs:string" name="length" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="cityType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="localname" minOccurs="0"/>
      <xs:element type="xs:string" name="latitude"/>
      <xs:element type="xs:string" name="longitude"/>
      <xs:element type="xs:string" name="elevation" minOccurs="0"/>
      <xs:element type="populationType" name="population" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="located_atType" name="located_at" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="located_onType" name="located_on" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="province" use="optional"/>
    <xs:attribute type="xs:string" name="is_country_cap" use="optional"/>
  </xs:complexType>
  <xs:complexType name="located_atType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="watertype" use="optional"/>
        <xs:attribute type="xs:string" name="lake" use="optional"/>
        <xs:attribute type="xs:string" name="sea" use="optional"/>
        <xs:attribute type="xs:string" name="river" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="countryType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="localname" minOccurs="0"/>
      <xs:element type="populationType" name="population" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="population_growth" minOccurs="0"/>
      <xs:element type="xs:string" name="infant_mortality" minOccurs="0"/>
      <xs:element type="xs:string" name="gdp_total" minOccurs="0"/>
      <xs:element type="xs:string" name="gdp_agri" minOccurs="0"/>
      <xs:element type="xs:string" name="gdp_ind" minOccurs="0"/>
      <xs:element type="xs:string" name="gdp_serv" minOccurs="0"/>
      <xs:element type="xs:string" name="inflation" minOccurs="0"/>
      <xs:element type="xs:string" name="unemployment" minOccurs="0"/>
      <xs:element type="indep_dateType" name="indep_date" minOccurs="0"/>
      <xs:element type="dependentType" name="dependent" minOccurs="0"/>
      <xs:element type="xs:string" name="government" minOccurs="0"/>
      <xs:element type="encompassedType" name="encompassed" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="ethnicgroupType" name="ethnicgroup" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="religionType" name="religion" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="languageType" name="language" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="borderType" name="border" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="cityType" name="city" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="provinceType" name="province" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="car_code" use="optional"/>
    <xs:attribute type="xs:string" name="area" use="optional"/>
    <xs:attribute type="xs:string" name="capital" use="optional"/>
    <xs:attribute type="xs:string" name="memberships" use="optional"/>
  </xs:complexType>
  <xs:complexType name="provinceType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="localname" minOccurs="0"/>
      <xs:element type="xs:string" name="area"/>
      <xs:element type="populationType" name="population" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="cityType" name="city" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="capital" use="optional"/>
  </xs:complexType>
  <xs:complexType name="located_onType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="island" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="dependentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="country" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="continentType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Europe"/>
            <xs:enumeration value="Asia"/>
            <xs:enumeration value="Australia/Oceania"/>
            <xs:enumeration value="Africa"/>
            <xs:enumeration value="America"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="area">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="9938000"/>
            <xs:enumeration value="44579000"/>
            <xs:enumeration value="8600000"/>
            <xs:enumeration value="30221000"/>
            <xs:enumeration value="42075000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="membersType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="country" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="organizationType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="abbrev"/>
      <xs:element type="xs:string" name="established" minOccurs="0"/>
      <xs:element type="membersType" name="members" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="headq" use="optional"/>
  </xs:complexType>
  <xs:complexType name="locatedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="country" use="optional"/>
        <xs:attribute type="xs:string" name="province" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="seaType">
    <xs:sequence>
      <xs:element type="xs:string" name="name">
        <xs:annotation>
          <xs:documentation>includes Laptev and Chukchen Sea</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="area" minOccurs="0"/>
      <xs:element type="xs:string" name="depth" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="bordering" use="optional"/>
  </xs:complexType>
  <xs:complexType name="toType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="watertype" use="optional"/>
        <xs:attribute type="xs:string" name="water" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sourceType">
    <xs:sequence>
      <xs:element type="xs:string" name="mountains" minOccurs="0"/>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="fromType" name="from" minOccurs="0"/>
      <xs:element type="xs:string" name="latitude"/>
      <xs:element type="xs:string" name="longitude"/>
      <xs:element type="xs:string" name="elevation" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="country" use="optional"/>
  </xs:complexType>
  <xs:complexType name="estuaryType">
    <xs:sequence>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="latitude"/>
      <xs:element type="xs:string" name="longitude"/>
      <xs:element type="xs:string" name="elevation" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="country" use="optional"/>
  </xs:complexType>
  <xs:complexType name="riverType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="name"/>
      <xs:element type="locatedType" name="located">
        <xs:annotation>
          <xs:documentation>anderer Name auch Dnjestr  Rio Pasaje/Rio Juramento- Rio Guachipas/Rio Las Conchas south of Salta 
           Rio Calchaqui west of Salta  vom Viktoriasee durch Lake Kyoga bis Albertsee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="throughType" name="through">
        <xs:annotation>
          <xs:documentation>two arms towards the north sea</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="toType" name="to"/>
      <xs:element type="xs:string" name="area">
        <xs:annotation>
          <xs:documentation>into the southern arm of the Rhein</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="length"/>
      <xs:element type="sourceType" name="source">
        <xs:annotation>
          <xs:documentation>incl Rio Guainia/CO  von Khartum bis zum Mittelmeer  Encycl.Britannica: ab Zusammenfluss von Ruvuvu und Nyabarongo  Encycl.Britannica: ab Zusammenfluss mit Ruvuvu weiter als Kagera  Encycl.Britannica: ab Muendung in den Nyabarongo weiter als Kagera</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="estuaryType" name="estuary"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="island" use="optional"/>
  </xs:complexType>
  <xs:complexType name="fromType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="watertype" use="optional"/>
        <xs:attribute type="xs:string" name="water" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="throughType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="lake" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="lakeType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>crater lake of Gunung Masurai</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="toType" name="to" minOccurs="0"/>
      <xs:element type="xs:string" name="area"/>
      <xs:element type="xs:string" name="latitude"/>
      <xs:element type="xs:string" name="longitude"/>
      <xs:element type="xs:string" name="elevation" minOccurs="0"/>
      <xs:element type="xs:string" name="depth" minOccurs="0"/>
      <xs:element name="height" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="124"/>
            <xs:enumeration value="154"/>
            <xs:enumeration value="113"/>
            <xs:enumeration value="58"/>
            <xs:enumeration value="235"/>
            <xs:enumeration value="216"/>
            <xs:enumeration value="221"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="island" use="optional"/>
    <xs:attribute type="xs:string" name="salinity" use="optional"/>
  </xs:complexType>
  <xs:complexType name="islandType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="islands" minOccurs="0"/>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="area" minOccurs="0"/>
      <xs:element type="xs:string" name="latitude"/>
      <xs:element type="xs:string" name="longitude"/>
      <xs:element type="xs:string" name="elevation" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="sea" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="river" use="optional"/>
    <xs:attribute type="xs:string" name="lake" use="optional"/>
  </xs:complexType>
  <xs:complexType name="mountainType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>no higher peak west+north, prominence 3100m non-volcanic! tripoint BOL-RCH-RA  southernmost 6000m</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="mountains" minOccurs="0">
        <xs:annotation>
          <xs:documentation>in Kayan Mentarang Reserve</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="latitude"/>
      <xs:element type="xs:string" name="longitude"/>
      <xs:element type="xs:string" name="elevation"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="island" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="last_eruption" use="optional"/>
  </xs:complexType>
  <xs:complexType name="desertType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="area"/>
      <xs:element type="xs:string" name="latitude" minOccurs="0"/>
      <xs:element type="xs:string" name="longitude" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="airportType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="latitude"/>
      <xs:element type="xs:string" name="longitude"/>
      <xs:element type="xs:string" name="elevation" minOccurs="0"/>
      <xs:element type="xs:string" name="gmtOffset"/>
      <xs:element type="located_onType" name="located_on" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="iatacode" use="optional"/>
    <xs:attribute type="xs:string" name="city" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
  </xs:complexType>
  <xs:complexType name="mondialType">
    <xs:sequence>
      <xs:element type="countryType" name="country" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="continentType" name="continent" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="organizationType" name="organization" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="seaType" name="sea" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="riverType" name="river" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="lakeType" name="lake" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="islandType" name="island" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="mountainType" name="mountain" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="desertType" name="desert" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="airportType" name="airport" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>