tp1/app/data/Mondial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mondial" type="mondialType">
    <xs:annotation>
      <xs:documentation>not valid: DOCTYPE mondial SYSTEM "mondial-3.0.dtd"</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="continentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="populationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="year" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="populationType" name="population" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="located_atType" name="located_at" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="longitude" use="optional"/>
    <xs:attribute type="xs:string" name="latitude" use="optional"/>
    <xs:attribute type="xs:string" name="province" use="optional"/>
  </xs:complexType>
  <xs:complexType name="located_atType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="water" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ethnicgroupsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="religionsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="encompassedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="continent" use="optional"/>
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="borderType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="length" use="optional"/>
        <xs:attribute type="xs:string" name="country" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="countryType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="cityType" name="city" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="provinceType" name="province" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="ethnicgroupsType" name="ethnicgroups" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="religionsType" name="religions" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="languagesType" name="languages" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="encompassedType" name="encompassed" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="borderType" name="border" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="capital" use="optional"/>
    <xs:attribute type="xs:string" name="population" use="optional"/>
    <xs:attribute type="xs:string" name="datacode" use="optional"/>
    <xs:attribute type="xs:string" name="total_area" use="optional"/>
    <xs:attribute type="xs:string" name="population_growth" use="optional"/>
    <xs:attribute type="xs:string" name="infant_mortality" use="optional"/>
    <xs:attribute type="xs:string" name="gdp_agri" use="optional"/>
    <xs:attribute type="xs:string" name="gdp_total" use="optional"/>
    <xs:attribute type="xs:string" name="inflation" use="optional"/>
    <xs:attribute type="xs:string" name="indep_date" use="optional"/>
    <xs:attribute type="xs:string" name="government" use="optional"/>
    <xs:attribute type="xs:string" name="car_code" use="optional"/>
    <xs:attribute type="xs:string" name="gdp_ind" use="optional"/>
    <xs:attribute type="xs:string" name="gdp_serv" use="optional"/>
  </xs:complexType>
  <xs:complexType name="provinceType" mixed="true">
    <xs:sequence>
      <xs:element type="cityType" name="city" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="capital" use="optional"/>
    <xs:attribute type="xs:string" name="population" use="optional"/>
    <xs:attribute type="xs:string" name="area" use="optional"/>
  </xs:complexType>
  <xs:complexType name="languagesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="percentage" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="membersType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="country" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="organizationType" mixed="true">
    <xs:sequence>
      <xs:element type="membersType" name="members" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="abbrev" use="optional"/>
    <xs:attribute type="xs:string" name="established" use="optional"/>
    <xs:attribute type="xs:string" name="headq" use="optional"/>
  </xs:complexType>
  <xs:complexType name="locatedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="country" use="optional"/>
        <xs:attribute type="xs:string" name="province" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="mountainType" mixed="true">
    <xs:sequence>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="longitude" use="optional"/>
    <xs:attribute type="xs:string" name="latitude" use="optional"/>
    <xs:attribute type="xs:string" name="height" use="optional"/>
  </xs:complexType>
  <xs:complexType name="desertType" mixed="true">
    <xs:sequence>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="area" use="optional"/>
  </xs:complexType>
  <xs:complexType name="islandType" mixed="true">
    <xs:sequence>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="area" use="optional"/>
  </xs:complexType>
  <xs:complexType name="toType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="water" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="riverType">
    <xs:sequence>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="toType" name="to" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="length" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="seaType" mixed="true">
    <xs:sequence>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="depth" use="optional"/>
  </xs:complexType>
  <xs:complexType name="lakeType" mixed="true">
    <xs:sequence>
      <xs:element type="locatedType" name="located" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="area" use="optional"/>
  </xs:complexType>
  <xs:complexType name="mondialType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="continentType" name="continent" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="countryType" name="country" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="organizationType" name="organization" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="mountainType" name="mountain" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="desertType" name="desert"/>
      <xs:element type="islandType" name="island" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="riverType" name="river" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="seaType" name="sea" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="lakeType" name="lake" maxOccurs="unbounded" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>